@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*   Open state of the dialog  */
  dialog[open] {
    transform: translateX(0);
  }

  /*   Closed state of the dialog   */
  dialog {
    transform: translateX(-100%);
    transition:
      transform 0.7s ease-out,
      overlay 0.7s ease-out allow-discrete,
      display 0.7s ease-out allow-discrete;
  }

  @starting-style {
    dialog[open] {
      transform: translateX(-100%);
    }
  }

  .timelinsec {
    position: relative;
  }
  .timelinsec::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 2px;
    height: 90%;
    z-index: 3;
    box-shadow: theme("boxShadow.line");
    background-color: theme("colors.dark.20");
  }
  @media (min-width: 768px) {
    .timelinsec::before {
      left: 65px;
    }
  }
  @media (min-width: 1024px) {
    .timelinsec::before {
      left: 85px;
    }
  }

  .card {
    border-radius: 12px;
    box-shadow: theme("boxShadow.card");
    border: 2px solid theme("colors.dark.20");
    padding: 20px;
  }

  /* width */
  .table-scroll::-webkit-scrollbar {
    height: 8px;
    background: theme("colors.dark.15");
    border-radius: 43px;
    width: 8px;
  }

  /* Track */
  .table-scroll::-webkit-scrollbar-track {
    /* background: theme("colors.primary.75"); */
  }

  /* Handle */
  .table-scroll::-webkit-scrollbar-thumb {
    background: theme("colors.primary.75");
    width: 178px;
    height: 8px;
    border-radius: 59px;
  }

  /* Handle on hover */
  .table-scroll::-webkit-scrollbar-thumb:hover {
    background: theme("colors.primary.70");
  }
}
